.dashboard {
  color: #154734;
  margin-bottom: 1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr; /*1fr;*/
}

.cell {
  border-style: solid;
  border-width: 1px;
  /* text-align: center; */
  padding: 10px;
  min-width: fit-content;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr; /* 1fr;*/
  background-color: #154734;
  color: white;
}

.header-cell {
  border-style: solid;
  border-width: 1px;
  border-color: #154734;
  padding: 5px;
  text-align: center;
}

.late {
  background-color: rgba(255, 0, 0, 0.15);
}

.late p {
  color: red;
}

.export {
  background-color: white;
  border: none;
  color: #154734;
  font-size: larger;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 100px;
  transition: all 0.15s;
}

.export:hover {
  color: #e87500;
  text-decoration: underline;
  cursor: pointer;
}

.cell button {
  border: none;
  background-color: #154734;
  color: white;
  padding: 10px;
  width: 95%;
  transition: all 0.15s;
}

.cell button:hover {
  text-decoration: underline;
  background-color: #0e2f23;
  cursor: pointer;
}
